<p-panel header="Pipes Númericos" class="p-1">
  <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del año actual">
      {{totalSells+2345 | number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del año actual">
      {{totalSells | currency:'EUR':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancias porcentuales" subheader="del año actual">
      {{percent | percent:'1.4-4'}}
    </p-card>
  </div>

</div>